@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #f1eeee;
}

hr {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 95%;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    gap: 50px;
}
.bannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.banner{
    width: 180vh;
    height: 80vh;
    margin-top: 7%;
    margin-left: 10vh;
    margin-top: 5%;
}
#topo{
  height: 16.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
#topo > a{
  max-width: 204px;
}
#topo > a > img {
  display: block;    
  max-width: 100%; 
  width: 204px;   
  height: 204px;
}
.imglogo{
  width: 20%; 
  height: 100%; 
  cursor:pointer;
  object-fit: cover;
  display: block; 
}
.imglogo img{
  width: 100px;
  height: 100px;
}
.menu{
  display: flex;
  align-items: center;
  position: relative;
  right: 5%;
  gap:15px;  
}
.menu a{
    font-size: medium;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: lighter;
}
.menu a:hover{
    color:#6c5293;
    font-weight: bold;
    font-size: large;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.Miviva{
    height: 200vh;
    width: 97.5%;
    background-color: darkgray;
    position: relative;
    left: 1.8%;
    border-radius: 1vh;
}
.plan{
    font-family: "Aldrich";
    color: #1a1a1a;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 4.2%;
    padding: 20px;
}
.subplan{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    color: #1a1a1a;
    text-align: center;
    font-size: 300%;
    font-weight: lighter;
    margin-left: 4.2%;
    margin-top: -3.8%;
}
.cards{
    margin-left: 10vh;
    margin-top: 1%;
    display: inline-flex;
    gap: 5%;
    margin-bottom: 2%;
}
.card{
    background-color: #5A5FA3;
    width: 45vh;
    height: 65vh;
    position: relative;
    gap: 2%;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}
.card-top{
    background-color: #1a1a1a;
    width: 38.2vh;
    height: 80px;
    position: absolute;
    display: inline-flex;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 12px;
}
.card-top img {
    width: 90px;
    height: 70px;
    padding-left: 10px;
    padding-top:5px
}
.card-text{
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: initial;
    font-size: 3vh;
    top: 5%;
    font-weight: bold;
    overflow: hidden;
    color: white;
}
.txtCard{
    margin: 3%;
    margin-top: 28.5%;
}
.text1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 24%;
    margin-top: 5%;
}
.text2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 190%;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 6%;
}
.textW{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 5%;
}
.sobretxt{
    font-family: 'Poppins', sans-serif;
    color:#1a1a1a;
    font-size: 190%;
    font-weight: lighter;
    width: 500px;
}
.sobreimg{
    width: 50vh;
    height: 60vh;
}
#sobre{
    color: #1a1a1a;
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    margin-top: 10%;
}
#trabreal{
    color: #1a1a1a;
    text-align: center;
    font-weight: bold;
}
.trabalhos{
  position: relative;
  height: 70vh;
  width: 40%;
  margin: auto;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;
}
.trabimg{
  height: 70vh;
  width: 100%;
}
.trabalhos-slide{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.trabalhos-slide img{
  border-radius: 5%;
  width: 100%;
  flex-shrink: 0;
}
button{
  position: relative;
  top: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
}
img.prev{
  position: relative;
  left: 1%;
  top: -10%;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
}
img.next{
  position: relative;
  right: 1%;
  height: 6.4vh;
  width: 6.4vh;
  top: -10%;
  cursor: pointer;
}
.trabalho-slide{
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-top: 5%;
}
.txtSlide{
    position: relative;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: #1a1a1a;
    font-size: 150%;
    font-weight: bold;
    left: 25vh;
    width: 50vh;
}
.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-bottom:30px;
}
.meiosContato {
  width: 280px;
  padding: 20px 30px;
  color: black;
}
.meiosContato > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.meiosContato img {
  width: 45px; 
  height: 45px;
  margin-right: 15px;
}
.meiosContato p {
  background: transparent;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: black;
  word-wrap: break-word;
}
.meiosContato > div:last-child {
  margin-bottom: 0;
}
.mapa{
    border-radius: 10%;
}
.redes{
    display: inline-flex;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}
.redes img{
 width: 50px;
 height: 50px;
}
#footer{
    gap: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer a{
    max-width: 204px;
}
#footer > a > img {
  display: block;    
  max-width: 100%; 
  width: 204px;   
  height: 204px;
}
.foo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    text-decoration: none;
    margin-left: -1%;
    padding-top: 4px;
    font-weight: lighter;
    margin-left: 0.5%;
}


@media (max-width: 600px) {


  #topo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
    gap: 10px;
    padding: 10px 15px;
  }

  #topo > a {
    max-width: 150px;
  }

 
  #topo > a > img,
  .imglogo {
    width: 150px;
    height: auto;
  }

  
  .bannerContainer {
    padding-bottom: 10px;
  }
  .banner {
    width: 100vw;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }


  .desc {
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
    align-items: center;
  }

  
.sobretxt{
    font-family: 'Poppins', sans-serif;
    color:#1a1a1a;
    font-size: 150%;
    font-weight: lighter;
    width: 100vw;
    text-align: center;
    margin-left: 10px;


}


 
  .sobreimg {
    width: 80vw;
    height: auto;
  }


  .cards {
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;
  }

  
  .card {
    width: 90vw;

    border-radius: 15px;
  }

  .card-top{
    background-color: #1a1a1a;
    width: 100%;
    height: 80px;
    position: absolute;
    display: inline-flex;
  }

  
  .txtCard {
    font-size: 30px;
    margin-top: 20%;
  }

  
  .plan {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0;
  }
  .subplan {
    font-size: 1.8rem;
    margin-left: 0;
    margin-top: -1rem;
    text-align: center;
  }
.txtSlide{
    display: none;
}
 
  #trabreal {
    margin-left: 0;
    gap:100px;
  }
  .trabalho-slide{
    display:flex;
    justify-content:center;
    align-items: center;
    width: auto;
    margin:0
    
  }


  .trabalhos {
    display: inline-flex;
    justify-content: center;
   margin:0 auto;
    width: auto;
  margin-right: 10px;
    height: auto;
    overflow: hidden;
    


  }




  .contatos {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  .mapa {
    width: 90vw;
    height: 300px;
  }

 
  .meiosContato {
    width: 90vw;
    padding: 10px 15px;
  }

 
  .meiosContato img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

 
  .meiosContato p {
    font-size: 16px;
    padding: 10px;
  }

  
  #footer {
    flex-direction: column;
    gap: 20px;
  }


  .foo {
    font-size: 14px;
    margin-left: 0;
  }

  
  .redes img {
    width: 40px;
    height: 40px;
  }


  #footer > a {
    max-width: 150px;
  }

  #footer > a > img {
    width: 150px;
    height: auto;
  }
}
